*{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    background: gray;
}

.menu ul li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 160px;
    text-align: center;
    position: relative;
}

.menu ul li .sub-menu{
    display: none;
    position: absolute;
}

.menu ul li .sub-menu .sub-menu1{
    display: none;
    position: absolute;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
}

.menu ul li:hover{
    background: crimson;
}

.menu ul li:hover > .sub-menu{
    display: block;
}

.menu ul li:hover > .sub-menu1{
    display: block;
    left: 160px;
    top: 0;
}
.sub-menu, .sub-menu1{
    box-shadow: 10px 10px 12px black;
}