*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.shadow{
    box-shadow: 0px 4px 10px 0px rgb(61, 59, 59);
}

body{
    background: #F1F1F1;
}

.mr-top{
    margin-top: 20px;
}

.banner{
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.banner p{
    margin: 1.5em;
}

.banner p span{
    padding: 0 8px;
}

.content{
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
    display: flex;
}

.content-left{
    width: 65%;
}

.content-right{
    width: 35%;
    margin-left: 30px;
}

img{
    width: 100%;
    height: 300px;
}

.content-left-1{
    width: 100%;
    background: white;
}

.read-more{
    width: 100%;
    height: 80px;
    display: flex;
}

.read-more .btn{
    width: 60%;
    padding: 10px 0;
}

.read-more .btn button{
    cursor: pointer;
    height: 50px;
    width: 150px;
    background: white;
    border: 1px solid rgb(194, 194, 194);
    font-weight: 800;
    font-size: 1em;
}

.read-more .btn button:hover{
    background: rgb(192, 192, 192);
}

.read-more .cmt{
    width: 40%;
    line-height: 80px;
    text-align: right;
}

.content-left-2{
    margin-top: 3em;
    width: 100%;
    background: white;
}

.content-right-1{
    width: 100%;
    background: white;
}

.content-right-2{
    margin-top: 3em;
    width: 100%;
    height: 400px;
    background: white;
}

.list-post{
    width: 100%;
    height: 320px;
}

.list-post-item{
    width: 100%;
    height: 25%;
    padding: 16px;
    line-height: 25px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.list-post-item:hover{
    background: rgb(202, 202, 202);
}

.list-post-item img{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.content-right-3{
    margin-top: 3em;
    width: 100%;
    background: white;
}

.tag{
    background: #F1F1F1;
    padding: 0 8px;
    font-size: small;
    margin: 5px;
}

.footer{
    margin-top: 3em;
    width: 100%;
    height: 150px;
    background: grey;
}

.footer .container{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.footer .container button{
    cursor: pointer;
    padding: 16px 18px;
    background: black;
    color: white;
    border: none;
}

.footer .container button:hover{
    background: white;
    color: black;
}

@media all and (max-width: 1000px){
    .content{
        display: unset;
    }
    .content-left{
        margin: 0 auto;
        width: 90%;
    }
    .content-right{
        margin: 40px auto;
        width: 90%;
    }
}